<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Take users</title>
</head>
<body>
<div>
    <th:block th:each="List : ${ListUsers}">
        <a th:href="@{/admin/users/{id}(id=${List.getId()})}" th:text="${List.getName()}">user</a>
        <br/>
    </th:block>
</div>

<br/>
<hr/>

<a href="/admin/users/new">Create new user</a>
<br/>
<br/>
<form th:method="POST" th:action="@{/logout}">
    <input type="submit" value="Logout"/>
</form>
</body>
</html>