<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p th:text="${user.getId()}">VALUE</p>
<p th:text="${user.getUsername()}">VALUE</p>
<p th:text="${user.getPassword()}">VALUE</p>
<p th:text="${user.getName()}">VALUE</p>
<p th:text="${user.getSurname()}">VALUE</p>
<p th:text="${user.getAge()}">VALUE</p>

<ul>
    <li th:each="role:${user.getRoles()}">
        <span th:text="${role.getName()}">VALUE</span>
    </li>
</ul>

<br/>
<br/>
<form th:method="POST" th:action="@{/logout}">
    <input type="submit" value="Logout"/>
</form>
</body>
</html>